<%- include('./partials/header.ejs') %>
    <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center">
      <img class="mb-5" src="digital-key.png" width="64" height="64" alt="simple-auth">
      <h1 class="card-title">
        simple-auth
      </h1>
    </div>
<%- include('./partials/footer.ejs') %>